@(localUser: models.User = null, userSnips: models.MySnips)

@main("My Snips", "mySnips") {
    <div class="container mtb">
        <div id="global-message" class="alert alert-danger hidden">

        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Snips</h1> <h4 style="display: inline;">by @userSnips.user.name</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-8">
                <table class="table table-default table-striped" style="border: black;">
                <thead>
                        <tr>
                            <th title="Song" align="right">Song</th>
                            <th title="Artist" align="right">Artist</th>
                            <th title="Album" align="right">Album</th>
                            <th class="{sorter: false}" title="*" align="center">*</th>
                            <th class="{sorter: false}" title="Play" align="right">Play</th>
                            <th class="{sorter: false}" title="Favourites" align="right"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @for(snip <- userSnips.savedSnips) {
                            <tr class="evenrow table-snip" data-toggle="tooltip" data-placement="right" title="Saved!">
                                <td align="left" class="left snip-title">@snip.song_name</td>
                                <td align="left" class="left snip-artist">@snip.artist_name</td>
                                <td align="left" class="left snip-album">@snip.album_name</td>
                                <td align="left" class="left">
                                    <div class="dropdown">

                                        <a id="@snip.id" class="btn btn-sm dropdown-toggle center" data-toggle="dropdown" href="#">
                                            <span style="cursor:pointer" class="glyphicon glyphicon-share"></span>
                                        </a>

                                        <ul class="dropdown-menu" id="menu1">
                                            <li>
                                                <!-- Button trigger modal -->
                                                <a class="add-to-playlist-a" href="" align="left" data-toggle="modal" data-target="#add-to-playlist-modal">
                                                    Add to playlist
                                                </a></li>
                                            @if(localUser.id != userSnips.user.id) {
                                                <li><a align="left" href="" class="save-snip"><i class="icon-off"></i>Favourite Snip</a></li>
                                            } else {
                                                <li class="divider"></li>
                                                <li><a align="left" href="#" class="dropdown-delete-snip"><i class="icon-off"></i>Delete</a></li>
                                            }

                                        </ul>
                                    </div>
                                </td>
                                <td align="center" class="center valign-m ">
                                    <span style="cursor:pointer" class="glyphicon glyphicon-play play-snip-table play-snippet"></span>
                                        <!--<button type="button" class="btn-primary btn btn-sm play-snippet">Play</button>-->
                                </td>
                                <td align="left" style="vertical-align: middle" class="left snip-favourite-count"><span class="alert-danger badge">@snip.favouriteCount</span></td>
                                <td class="hidden snip-id" value="@snip.id" ></td>
                                <td class="hidden snip-video-id" value="@snip.url"></td>
                                <td class="hidden snip-video-startTime" value="@snip.time_min"></td>
                                <td class="hidden snip-video-endTime" value="@snip.time_max"></td>

                            </tr>
                        }
                    </tbody>


                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="add-to-playlist-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="add-to-playlist-modal-title">Add to playlist</h4>
                </div>
                <div class="modal-body">
                    <div id="modal-message" class="alert alert-danger hidden">

                    </div>
                    <div id="modal-content">

                    </div>
                </div>
                <input id="selected-snip-id" type="text" hidden value=""/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



}