@(js: java.lang.Boolean, localUser: models.User = null, sniplist: models.Sniplist1)

@content = {
    <div class="container mtb">
        <div id="global-message" class="alert alert-danger hidden">

        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Direct Sniplist</h1>
            </div>
        </div>

        <div id="sniplist-array" value="@localUser.id">
            <div class="row ">
                <div class="col-lg-6">
                    <table class="table table-default table-bordered table-striped"  value="sniplist" id="@sniplist.id" >
                        <thead>
                            <tr>
                                <th title="Name" colspan="5" align="right"><h4 style="display: inline;"><a href="@routes.SniplistController.viewSniplistById(sniplist.id.toString)" class="dynamic-link"> @sniplist.name </a></h4>

                                    <p style="display: inline;">by </p><a class="dynamic-link" href="@routes.Application.getUserProfile(sniplist.user.id.toString)" style="display: inline;">@sniplist.user.name</a> <span class="alert-danger badge">@sniplist.favouriteCount</span>

                                    @if(localUser.id != sniplist.user.id) {
                                        @if(!sniplist.localUserFavourited) {
                                            <span style="float : right ; cursor : pointer ;" class="glyphicon glyphicon-heart favourite-sniplist black"></span>
                                        } else {
                                            <span style="float : right ; cursor : pointer ;" class="glyphicon glyphicon-heart favourite-sniplist red"></span>
                                        }
                                    } else {
                                        <span style="float: right; text-align: right; cursor: pointer" class="glyphicon glyphicon-remove remove remove-playlist"></span>
                                    }
                                </th>

                            </tr>
                            <tr>
                                <th title="Song" align="right">Song</th>
                                <th title="Artist" align="right">Artist</th>
                                <th title="Album" align="right">Album</th>
                                <th class="{sorter: false}" title="Play" align="right">Play</th>

                                @if(localUser.id == sniplist.user.id) {
                                    <th title="Remove"></th>
                                } else {
                                    <th title="Favourite"></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                        @for(snip <- sniplist.snips) {
                            <tr>
                                <td align="left" class="left snip-title">@snip.song_name</td>
                                <td align="left" class="left snip-artist">@snip.artist_name</td>
                                <td align="left" class="left snip-album">@snip.album_name</td>
                                <td align="center" class="center">
                                    <span style="cursor:pointer" class="glyphicon glyphicon-play play-snip-table play-snippet"></span>
                                </td>
                                <td class="center">
                                @if(localUser.id == sniplist.user.id) {
                                    <span style="cursor : pointer" class="glyphicon remove glyphicon-remove remove-snip-from-sniplist" value="@snip.id"></span>
                                } else {
                                    @if(snip.localUserFavourited) {
                                        <span style="cursor : pointer ;" class="glyphicon glyphicon-heart favourite-snip red"></span>
                                    } else {
                                        <span style="cursor : pointer ;" class="glyphicon glyphicon-heart favourite-snip black"></span>
                                    }
                                }
                                </td>
                                <td class="hidden snip-id" value="@snip.id" ></td>
                                <td class="hidden snip-video-id" value="@snip.url"></td>
                                <td class="hidden snip-video-startTime" value="@snip.time_min"></td>
                                <td class="hidden snip-video-endTime" value="@snip.time_max"></td>
                            </tr>
                        }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
}

@if(!js) {
    @main("My SnipLists", "mySnipLists")(content)
} else {
    @content
}