@main("Contact Us", "contact") {
            <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
        <div id="blue">
            <div class="container">
                <div class="row">
                    <h3>Contact.</h3>
                </div><!-- /row -->
            </div> <!-- /container -->
        </div><!-- /blue -->

        <!-- *****************************************************************************************************************
	 CONTACT WRAP
	 ***************************************************************************************************************** -->

        <div id="contactwrap"></div>

            <!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

    <div class="container mtb">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h4>Our location</h4>
                <div class="hline"></div>
                <p>
                    Ottawa, Ontario, Canada
                </p>
                <p>
                    Email: noreply.sniplist@@gmail.com<br/>
                </p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <div class="col-lg-2"></div>
        </div><! --/row -->
    </div><! --/container -->

}