@(js: java.lang.Boolean, localUser: models.User, followingList: List[models.User], topSnips: List[models.Snip], topSniplists: List[models.Sniplist])
@import java.math.BigInteger; var i=0;

@content = {
    <div class="container">
        <div class="row">
            <h1>News Feed</h1>
            <div class="hline"></div>
        </div>
        <div class="row">
            <h2>Following @followingList.size user(s)</h2>
            @for(fUser <- followingList) {
                <a class="dynamic-link" href="@routes.Application.getUserProfile(fUser.id.toString)">@fUser.name</a>
            }
        </div>
        <div class="row">
            <h2>Popular Snips</h2>
            @for(snip <- topSnips) {
                @(i += 1)
                <div class="col-md-2">
                    <i class="icon-heart red"></i>@snip.favouriteCount<br>
                    <img src="@snip.thumbnail_url"/>
                    <p>@snip.song_name <br> by @snip.artist_name <br> <a class="dynamic-link" href="@routes.Application.getUserProfile(snip.user.id.toString)">@snip.user.name</a></p>
                </div>
                @if(i % 6 == 0) {
                    </div>
                    <div class="row">
                }

            }
        </div>
        <div class="row">
            <h2>Popular Sniplists</h2>
            @for(sniplist <- topSniplists) {
                <i class="icon-heart red"></i>@sniplist.favouriteCount<br>
                <p><a class="dynamic-link" href="@routes.SniplistController.viewSniplistById(sniplist.id.toString)">@sniplist.name</a> by <a class="dynamic-link" href="@routes.Application.getUserProfile(sniplist.id.toString)">@sniplist.user.name</a> </p>
            }
        </div>

    </div>
}


@if(!js) {
    @main("Home", "home")(content)
} else {
    @content
}