@(testing: String)

<!DOCTYPE html>

<head>
    <link href="@routes.Assets.at("../../public/stylesheets/main_one.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")"/>
    <title>Sniplist</title>
</head>

<html>
    <body>
        <div class="middle-wrapper">
            <h1>Sniplist</h1>
            <h2>under construction.</h2>
            <h3>@testing</h3>
            <img style="padding-right: 3%" src="@routes.Assets.at("images/music.png")">
        </div>
    </body>
</html>


