@import com.feth.play.module.pa.views.html._

@mainTwo("Sniplist", "home") {
    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="text-left"><b>A Better Way to Share Music.</b></h1>
                        <h4 class="text-left">Save clips of your favourite songs to share with friends.</h4>
                        <h4 class="text-left">Easy, Quick, and Free.</h4>
                        <ul class="list-inline text-right">
                            <li>
                                <a href="@routes.Application.signup()" class="btn btn-default btn-lg bg-clr-red">Get Started</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
            <!-- /.container -->

    </div>

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-5">
                    <img class="img-responsive" src="@routes.Assets.at("img/landingPage/stock-workdesk.jpg")"  alt="">
                </div>
                <div class="col-lg-5 col-sm-5">

                    <h2 class="section-heading">Share on youtube</h2>
                    <p class="lead">Integration with YouTube makes it easy to save song snippets. It's like a favourites list for all the music you've heard on YouTube. </p>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <a href="@routes.Application.about()" class="btn btn-default btn-lg bottom">Learn More &nbsp <i class="fa fa-long-arrow-right fa-fw clr-red"></i></a>
                </div>

            </div>

        </div>
            <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">

                    <h2 class="section-heading">Save Short Clips</h2>
                    <p class="lead">Save 20 seconds snippets of your favourite songs so you can do more sharing with your friends without overwhelming them with your entire library.</p>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="http://lorempixel.com/g/400/200/technics" alt="">
                </div>
            </div>

        </div>
            <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-c">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="http://lorempixel.com/g/450/260/technics" alt="">
                </div>
                <div class="col-lg-5 col-sm-6">

                    <h2 class="section-heading">Make Snippet Playlists</h2>
                    <p class="lead">Combine 5 of your snippets to create a playlist of your favourite snips so you can share more of your music at once.</p>
                </div>

            </div>


        </div>
            <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
}