@(loginForm: Form[_])

@import helper._


    @implicitField = @{ FieldConstructor(signupField.f) }


@main(Messages("playauthenticate.login.title"),"login") {

    <div class="container mtb">
        <div class="row">
            <div class="centered">
                <div class="col-md-6" style="padding-right:20px; border-right: 1px solid #ccc;">
                    @if(loginForm.hasGlobalErrors) {
                        <p>asdasda</p>
                        <div class="alert alert-danger">@loginForm.globalError.message</div>

                    }

                    @if(ctx().flash().size() > 0) {
                        <div class="alert alert-danger">
                            @ctx().flash().get("error")
                        </div>
                    }


                    <h3>Use a sniplist account</h3>
                    @helper.form(routes.Application.doLogin) {

                        @if(loginForm.hasGlobalErrors) {

                            <div class="alert alert-danger">@loginForm.globalError.message</div>

                        }


                        @inputText(
                            loginForm("email"),
                            '_showConstraints -> false,
                            '_label -> Messages("playauthenticate.login.email.placeholder"),
                            'type -> "email"
                        )
                        @inputPassword(
                            loginForm("password"),
                            '_showConstraints -> false,
                            '_label -> Messages("playauthenticate.login.password.placeholder")
                        )

                        <input type="submit" value="@Messages("playauthenticate.login.now")" class="btn btn-primary top-buffer-sm"><br/>
                        <br/>
                        <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a>

                    }

                 </div>
                <div class="col-md-6">
                    <h3>Use another account</h3>
                    @* Display list of available providers *@
                    @_providerPartial(skipCurrent=false)
                </div>
            </div>
        </div>
    </div>

}