@(title: String, nav: String = "", moreScripts: Html = Html(""))(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


<!DOCTYPE html>
    <html lang="@lang().code()">
        <head>
            <title>@title</title>

                <!-- Meta values -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">


                <!-- Sniplist Favicon -->
            <link rel="shortcut icon" href="@routes.Assets.at("img/icons/favicon.ico")">

                <!-- Bootstrap core CSS -->
            <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">
            <link href="@routes.Assets.at("css/font-awesome.min.css")" rel="stylesheet">

                <!-- Social Media Icon CSS -->
            <link href="@routes.Assets.at("css/transparent.css")" rel="stylesheet"/>

                <!-- Custom Sniplist Styles -->
            <link href="@routes.Assets.at("css/style.css")" rel="stylesheet">
            <link href="@routes.Assets.at("css/responsive-video.css")" rel="stylesheet">

                <!-- Custom styles for TableclothJs -->
            <link href="@routes.Assets.at("css/prettify.css")" rel="stylesheet">
            <link href="@routes.Assets.at("css/tablecloth.css")" rel="stylesheet">


                <!-- Styles for MediaElementJs
            <link  href="@routes.Assets.at("css/mediaelementplayer.css")" rel="Stylesheet" />
            <link  href="@routes.Assets.at("css/mejs-skins.css")" rel="Stylesheet" />-->

            <link  href="@routes.Assets.at("css/audio-sniplist-skin.css")" rel="Stylesheet" />

                <!-- JQueryUI CSS -->
            <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
            <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/iThing.css")">

        </head>

        <body>

                <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="@subjectPresent(){dynamic-link} navbar-brand" href="@routes.Application.index()">SNIPLIST.</a>
                    </div>
                    <div class="navbar-collapse collapse navbar-right">
                        <ul class="nav navbar-nav nav-sidebar">
                                <!-- Determine which page is currently active -->
                            @subjectPresentOr() {
                                @generators.navbarMenu(routes.SnipController.add(), "ADD SNIP", true)
                            } {
                                @generators.navbarMenu(routes.Application.index(), "HOME", false)
                            }
                            @subjectNotPresent() {
                                @generators.navbarMenu(routes.Application.about(), "ABOUT", false)
                                @generators.navbarMenu(routes.Application.contact(), "CONTACT", false)
                            }

                            @subjectPresentOr() {
                                @defining(Application.getLocalUser(session())) { user =>
                                    <li>
                                        <div class="dropdown">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-user"></i> @user.name.toUpperCase()
                                            <span class="caret"></span>
                                            </a>

                                            <ul class="dropdown-menu">
                                                <li><a class="dynamic-link" href="@routes.Application.profile()">@Messages("playauthenticate.navigation.profile").toUpperCase()</a></li>
                                                <li class="divider"></li>
                                                <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i> @Messages("playauthenticate.navigation.logout").toUpperCase()</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                }
                                @generators.navbarMenu(routes.Application.about(), "ABOUT", true)
                            }{
                                @generators.navbarMenu(routes.Application.login(), "SIGN IN", false)
                            }

                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            <div class="content mtb">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div id="global-message" class="col-md-8 alert alert-danger alert-dismissable hidden">
                            <a id="global-message-close" class="panel-close close" data-dismiss="alert">×</a>
                            <i id="global-message-icon" class="fa fa-check-circle"></i>
                            <p id="global-message-text" style="display: inline;"></p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <nav class="nav-sidebar">
                                <ul class="nav">
                                    <li class="active"><a class="dynamic-link" href="@routes.Application.index()">Popular</a></li>
                                    <li class="nav-divider"></li>
                                    <li><a class="dynamic-link" href="@routes.SnipCollectionController.mySnips()">Your Snips</a></li>
                                    <li><a class="dynamic-link" href="@routes.SniplistCollectionController.mySniplists()">Your Sniplists</a></li>
                                    <li><a class="dynamic-link" href="@routes.SnipCollectionController.mySnips()">Saved Snips</a></li>
                                    <li><a class="dynamic-link" href="@routes.SniplistCollectionController.mySniplists()">Saved Sniplists</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div id="wrapper-content" class="col-sm-8">
                            @content
                        </div>
                    </div>
                </div>
            </div>

                <!-- *****************************************************************************************************************
            FOOTER
        ***************************************************************************************************************** -->
            @subjectNotPresent() {
                <!--<div id="footerwrap">-->
                    <div class="container">
                        <div class="hline bottom-buffer-sm"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>About</h4>
                                <div class="hline-w"></div>
                                <p>Created in 2014, Sniplist provides a new way of sharing music with your friends.</p>
                            </div>
                            <div class="col-md-4">
                                <h4>Social Links</h4>
                                <div class="hline-w"></div>
                                <p>
                                    <a href="http://www.instagram.com">
                                        <span class="fa-stack fa-2x">
                                            <i class="fa fa-circle fa-stack-2x ins-color"></i>
                                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="http://www.twitter.com">
                                        <span class="fa-stack fa-2x">
                                            <i class="fa fa-circle fa-stack-2x tw-color"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="http://www.facebook.com">
                                        <span class="fa-stack fa-2x">
                                            <i class="fa fa-circle fa-stack-2x fb-color"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h4>Our Location</h4>
                                <div class="hline-w"></div>
                                <p>
                                    Ottawa, Canada
                                </p>
                            </div>
                        </div>
                    </div>
               <!-- </div>-->
            }
            @subjectPresent() {
                <div id="sticky-footer" class="navbar navbar-default navbar-fixed-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="audio-player">
                                    <audio id="audioPlayer" type="audio/youtube" controls="controls" src="https://www.youtube.com/watch?v=smqNtBXN5Mc" ></audio>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
            }



                <!-- Placed at the end of the document so the pages load faster
            =========================================== -->

                <!-- JQuery JS External Imports -->
            <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>

            <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

                <!-- JQRangeSlider JS -->
            <script type="text/javascript" src="@routes.Assets.at("js/jqrangeslider/jQEditRangeSlider-min.js")"></script>

                <!-- Bootstrap core JavaScript -->
            <script src="@routes.Assets.at("js/bootstrap/bootstrap.min.js")"></script>
            <script src="@routes.Assets.at("js/bootstrap/retina-1.1.0.js")"></script>
            <script src="@routes.Assets.at("js/bootstrap/moment.js")"></script>
            <script src="@routes.Assets.at("js/bootstrap/bootstrap-datetimepicker.min.js")"></script>

            <script src="@routes.Assets.at("js/jquery/jquery.hoverdir.js")"></script>
            <script src="@routes.Assets.at("js/jquery/jquery.hoverex.min.js")"></script>
            <script src="@routes.Assets.at("js/tablecloth/jquery.prettyPhoto.js")"></script>
            <script src="@routes.Assets.at("js/jquery/jquery.isotope.min.js")"></script>
            <script src="@routes.Assets.at("js/jquery/jquery.metadata.js")"></script>
            <script src="@routes.Assets.at("js/tablecloth/jquery.tablesorter.js")"></script>
            <script src="@routes.Assets.at("js/tablecloth/jquery.tablecloth.js")"></script>

            @moreScripts
                <!-- Sniplist core JavaScript -->
            <script src="@routes.Assets.at("js/sniplist/addSnip.js")"></script>
            <script src="@routes.Assets.at("js/sniplist/viewSnips.js")"></script>
            <script src="@routes.Assets.at("js/sniplist/custom-crop-slider.js")"></script>
            <script src="@routes.Assets.at("js/sniplist/viewSniplists.js")"></script>

            <!-- Play Framework JavaScript routes for AJAX calls. -->
            <script src="@routes.Application.javascriptRoutes()" type="text/javascript"></script>

                <!-- MediaElementPlayer -->
            <script src="@routes.Assets.at("js/mediaelement/mediaelement-and-player.min.js")"></script>



            <script src="@routes.Assets.at("js/sniplist/dynamicAjax.js")"></script>


                <!-- BLOCK UI -->
            <script src="@routes.Assets.at("js/jquery/blockUI.js")"></script>


            <script type="text/javascript" charset="utf-8">

            //GLOBAL MEDIA PLAYER
            var globalPlayer;

            var globalAudioPlayer;

            // Portfolio
            (function($) {
            "use strict";
            var $container = $('.portfolio'),
            $items = $container.find('.portfolio-item'),
            portfolioLayout = 'fitRows';

            if( $container.hasClass('portfolio-centered') ) {
            portfolioLayout = 'masonry';
            }

            /* $container.isotope({
             filter: '*',
             animationEngine: 'best-available',
             layoutMode: portfolioLayout,
             animationOptions: {
             duration: 750,
             easing: 'linear',
             queue: false
             },
             masonry: {
             }
             }, refreshWaypoints());
             */
            function refreshWaypoints() {
            setTimeout(function() {
            }, 1000);
            }

            $('nav.portfolio-filter ul a').on('click', function() {
            var selector = $(this).attr('data-filter');
            $container.isotope({ filter: selector }, refreshWaypoints());
            $('nav.portfolio-filter ul a').removeClass('active');
            $(this).addClass('active');
            return false;
            });

            function getColumnNumber() {
            var winWidth = $(window).width(),
            columnNumber = 1;

            if (winWidth > 1200) {
            columnNumber = 5;
            } else if (winWidth > 950) {
            columnNumber = 4;
            } else if (winWidth > 600) {
            columnNumber = 3;
            } else if (winWidth > 400) {
            columnNumber = 2;
            } else if (winWidth > 250) {
            columnNumber = 1;
            }
            return columnNumber;
            }

            function setColumns() {
            var winWidth = $(window).width(),
            columnNumber = getColumnNumber(),
            itemWidth = Math.floor(winWidth / columnNumber);

            $container.find('.portfolio-item').each(function() {
            $(this).css( {
            width : itemWidth + 'px'
            });
            });
            }

            function setPortfolio() {
            setColumns();
            $container.isotope('reLayout');
            }

            /*
            $container.imagesLoaded(function () {
            setPortfolio();
            });*/

            $(window).on('resize', function () {
            setPortfolio();
            });



            })(jQuery);
            </script>

                <!-- Google Analytics Tracking JS -->
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-52100641-2', 'auto');
            ga('send', 'pageview');

            </script>
        </body>
    </html>
