@(js: java.lang.Boolean, localUser: models.User = null)
@import com.feth.play.module.pa.views.html._


@content = {

        @if(flash.contains(Application.FLASH_ERROR_KEY)) {
            <div class="alert alert-danger">
            @flash().get(Application.FLASH_ERROR_KEY)
            </div>
        }
        @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
            <div class="alert alert-success">
            @flash().get(Application.FLASH_MESSAGE_KEY)
            </div>
        }
        <h1>@Messages("playauthenticate.profile.title")</h1>
        <p>
            Your name is @localUser.name and your email address is @if(!localUser.email) {
            <em>&lt;unknown&gt;</em>
            .} else {
            @localUser.email.
            <i>
            @if(!localUser.emailValidated && localUser.email) {
                (<a href="@routes.Account.verifyEmail">unverified - click to verify</a>)
            } else {
                (verified)
            }</i>
        }
            <br />
            @if(localUser.firstName && localUser.lastName) {
                Your first name is @localUser.firstName and your last name is @localUser.lastName
                <br/>
            }
            @defining(localUser.getProviders()) { providers =>
                @if(providers.size() > 0) {
                    @if(providers.size() == 1) {
                        @Messages("playauthenticate.profile.providers_one")
                    } else {
                        @Messages("playauthenticate.profile.providers_many", providers.size().toString())
                    }
                    @for(p <- providers) {
                        @_providerIcon(p)
                    }
                    <br/>
                }
            }

            <br/>
            @currentAuth() { auth =>
                @Messages("playauthenticate.profile.logged") @_providerIcon(auth.getProvider()) <br/>
                @if(auth.expires() != -1) {
                        @Messages("playauthenticate.profile.session", auth.getId(), Application.formatTimestamp(auth.expires()))
                        <h1> Your USERID is: @localUser.id </h1>
        } else {
            @Messages("playauthenticate.profile.session_endless", auth.getId())
        }
    }
        <br/>
        <ul>
            <li><a href="@routes.Account.changePassword">@Messages("playauthenticate.profile.password_change")</a></li>
            <li><a href="@routes.Account.link">Add/Remove Authentication Providers</a></li>
        </ul>
    </p>

}

@content2 = {

        <h1>Edit Profile</h1>
        <div class="row">
                <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center">
                    <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
                    <h6>Upload a different photo...</h6>
                    <input type="file" class="text-center center-block well well-sm form-control">
                </div>
            </div>
                <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                <h3>Personal info</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">First name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="Jane" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Last name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="Bishop" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="janesemail@@gmail.com" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Date of Birth:</label>
                        <div class="col-lg-8">
                            <div class='input-group date' id='birth-date-picker'>
                                <input type='text' class="form-control" disabled/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Username:</label>
                        <div class="col-md-8">
                            <input class="form-control" value="janeuser" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Password:</label>
                        <div class="col-md-8">
                            <input class="form-control" value="11111122333" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Confirm password:</label>
                        <div class="col-md-8">
                            <input class="form-control" value="11111122333" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input class="btn btn-primary" value="Save Changes" type="button">
                            <span></span>
                            <input class="btn btn-default" value="Cancel" type="reset">
                        </div>
                    </div>
                </form>
            </div>
        </div>

}
    @if(!js) {
        @main("Profile", "profile")(content2)
    } else {
        @content2
    }