@(js: java.lang.Boolean, settingsForm: Form[_], localUser: models.User = null)
@import com.feth.play.module.pa.views.html._


@content = {

        @if(flash.contains(Application.FLASH_ERROR_KEY)) {
            <div class="alert alert-danger">
            @flash().get(Application.FLASH_ERROR_KEY)
            </div>
        }
        @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
            <div class="alert alert-success">
            @flash().get(Application.FLASH_MESSAGE_KEY)
            </div>
        }
        <h1>@Messages("playauthenticate.profile.title")</h1>
        <p>
            Your name is @localUser.name and your email address is @if(!localUser.email) {
            <em>&lt;unknown&gt;</em>
            .} else {
            @localUser.email.
            <i>
            @if(!localUser.emailValidated && localUser.email) {
                (<a href="@routes.Account.verifyEmail">unverified - click to verify</a>)
            } else {
                (verified)
            }</i>
        }
            <br />
            @if(localUser.firstName && localUser.lastName) {
                Your first name is @localUser.firstName and your last name is @localUser.lastName
                <br/>
            }
            @defining(localUser.getProviders()) { providers =>
                @if(providers.size() > 0) {
                    @if(providers.size() == 1) {
                        @Messages("playauthenticate.profile.providers_one")
                    } else {
                        @Messages("playauthenticate.profile.providers_many", providers.size().toString())
                    }
                    @for(p <- providers) {
                        @_providerIcon(p)
                    }
                    <br/>
                }
            }

            <br/>
            @currentAuth() { auth =>
                @Messages("playauthenticate.profile.logged") @_providerIcon(auth.getProvider()) <br/>
                @if(auth.expires() != -1) {
                        @Messages("playauthenticate.profile.session", auth.getId(), Application.formatTimestamp(auth.expires()))
                        <h1> Your USERID is: @localUser.id </h1>
        } else {
            @Messages("playauthenticate.profile.session_endless", auth.getId())
        }
    }
        <br/>
        <ul>
            <li><a href="@routes.Account.changePassword">@Messages("playauthenticate.profile.password_change")</a></li>
            <li><a href="@routes.Account.link">Add/Remove Authentication Providers</a></li>
        </ul>
    </p>

}

@content2 = {

        <h1>Edit Profile</h1>
        <div class="row">
            <form id="userPhotoForm" method="POST" class="form-horizontal" role="form" action="@routes.Application.updateUserPhoto" accept-charset="UTF-8" enctype="multipart/form-data">
                <!-- left column -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="text-center">
                        <img id="userProfilePhoto" src="@routes.Application.getImage(String.valueOf(localUser.photo))" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="150">
                        <h6>Upload a different photo...</h6>
                        <input id="userPhotoInput" name="profilePhoto" type="file" class="text-center center-block well well-sm form-control">
                    </div>
                </div>
            </form>

            <!-- edit form column -->
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    @if(settingsForm.hasGlobalErrors || settingsForm.hasErrors) {
                        <div id="form-error" class="alert alert-danger alert-dismissable">
                            <a id="form-message-close" class="panel-close close" data-dismiss="alert">×</a>
                            <i id="form-message-icon" class="fa fa-exclamation-triangle"></i>
                            <div id="form-message-text" style="display: inline;">
                                @for(key <- settingsForm.errors().keySet) {
                                    @Messages("sniplist.key." + key) @if(key.length != 0){:} @Messages(settingsForm.error(key).message, settingsForm.error(key).arguments: _*)<br>
                                }
                            </div>
                        </div>
                    }
                    <h3>Personal info</h3>
                    <form id="userSettingsForm" method="POST" class="form-horizontal" role="form" action="@routes.Application.updateUserSettings" accept-charset="UTF-8" enctype="multipart/form-data">
                        <div class="form-group @if(settingsForm.error("first_name") != null){has-error}">
                            <label class="col-lg-3 control-label">First name:</label>
                            <div class="col-lg-8">
                                <input name="first_name" class="form-control" type="text" value="@settingsForm.data.get("first_name")">
                            </div>
                        </div>
                        <div class="form-group @if(settingsForm.error("last_name") != null){has-error}">
                            <label class="col-lg-3 control-label">Last name:</label>
                            <div class="col-lg-8">
                                <input name="last_name" class="form-control" type="text" value="@settingsForm.data.get("last_name")">
                            </div>
                        </div>
                        <div class="form-group @if(settingsForm.error("email") != null){has-error}">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                                <input name="email" class="form-control" type="text" value="@settingsForm.data.get("email")">
                            </div>
                        </div>

                        <div class="form-group @if(settingsForm.error("birth_date") != null){has-error}">
                            <label class="col-lg-3 control-label">Date of Birth:</label>
                                <div class="col-lg-8">
                                    <div class='input-group date' id='birth-date-picker'>
                                        <input name="birth_date" type='text' class="form-control" readonly="readonly" value="@settingsForm.data.get("birth_date")">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                        </div>
                        @if(localUser.getProviders.contains("password")) {
                            <div class="form-group @if(settingsForm.error("password") != null){has-error}">
                                <label class="col-md-3 control-label">Password:</label>
                                <div class="col-md-8">
                                    <input name="password" class="form-control" value="" type="password">
                                </div>

                            </div>
                            <div class="form-group @if(settingsForm.error("repeatPassword") != null){has-error}">
                                <label class="col-md-3 control-label">Confirm password:</label>
                                    <div class="col-md-8">
                                    <input name="repeatPassword" class="form-control" value="" type="password">
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="dynamic-form btn btn-primary" value="Save Changes" type="submit">
                                <span></span>
                                <input class="btn btn-default" value="Cancel" type="reset">
                            </div>
                        </div>
                    </form>
                </div>
        </div>
}

@if(!js) {
    @main("Profile", "profile")(content2)
} else {
    @content2
}